#sandbox {
	background-color: #2D2D2D;
	border: 3px solid rgba(21,11,11,0.2);
	width : 270px;
	margin: 0 auto;
	border-radius: 15px;
}

.botones {
	margin: 0 auto 4px auto;
}

.num, .operando, .igual, .mem{
	font-size: 200%;
	border-radius: 20px;
	width: 60px;
	height: 60px;

 
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;

}


.num {
	background: #4682B4;
    background: -moz-linear-gradient(top, #87CEEB 0%, #4682B4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
	color: #FFFFFF;
}

.igual {
	background: #B44F46;
    background: -moz-linear-gradient(top, #EB8F87 0%, #B44F46 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EB8F87), color-stop(100%,#B44F46));
	color: #FFFFFF;
	width: 71.6%;
}

.operando, .mem{
	background: #8E8E8E;
    background: -moz-linear-gradient(top, #E5E5E5 0%, #8E8E8E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#8E8E8E));
	color: #020C2D;
}

#resultado {
	border-radius: 8px;
	background-color: #E4DDAA;
	width: 100%;
	margin: 10px auto;
	height: 50px;
	font-size: 200%;
	
}
